 body {
  background: #c0a4a4;
  font-family: Arial, sans-serif;
}

form {
  width: 400px;
  margin: 80px auto;
  padding: 25px;
  background: #95fcfcac;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}
h2 {
  margin-bottom: 20px;
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 3px solid #6a4848;
  border-radius: 5px;
}
button {
  margin-top: 15px;
  padding: 10px 20px;
  background: rgb(12, 100, 63);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}
p {
  color: red;
  font-size: 12px;
  margin: 0;
  font-weight: bolder;
}